APP_ENV=dev
APP_SECRET=your_secret_here
APP_SHARE_DIR=var/share

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password

DEFAULT_URI=http://localhost
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@platform_docker-db:3306/${MYSQL_DATABASE}?serverVersion=8.0.32&charset=utf8mb4